# Lesson 07 Lab Exercises

In [55]:
import os
import numpy as np
import pandas as pd
from IPython.display import display
from openpyxl import load_workbook
DIR = '/Users/fernandojuarez/Documents/GitHub/Quantitative_Biological_Research_Python_course/'

# Exercise 1

Load viperdb.csv with Pandas.

Call simple Pandas functions to achieve the following tasks:

In [2]:
df = pd.read_csv(os.path.join(DIR, '07_Lesson/Files/viperdb.csv'))

In [44]:
# display(df)
# display(df.describe())

## Part A
Find the virus record with the largest outer capsid radius.

In [6]:
# print('The virus with the largest outer capsid radius of %d is %s' %(df['Outer Radius'].max(), df['Title'][df['Outer Radius'].idxmax()]))
print(f"The virus with the largest outer capsid radius of {df['Outer Radius'].max()} is {df['Title'][df['Outer Radius'].idxmax()]}.")

The virus with the largest outer capsid radius of 929 is PBCV-1 virus capsid, quasi-atomic model.

## Part B
Calculate the correlation between inner and outer capsid radius.

In [11]:
print(f"The correlation between the inner and outer capsid radius is {df['Inner Radius'].corr(df['Outer Radius'])}")
print('The correlation between the inner and outer capsid radius is %0.3f' %(df['Inner Radius'].corr(df['Outer Radius'])))

The correlation between the inner and outer capsid radius is 0.9353034053307225
The correlation between the inner and outer capsid radius is 0.935

## Part C
Which viruses are larger? dsDNA or ssRNA?

In [ ]:
contains_dsDNA = df['Genome'].str.contains('dsDNA', na=False)
contains_ssRNA = df['Genome'].str.contains('ssRNA', na=False)

filter_for_dsDNA = df[contains_dsDNA]
filter_for_ssRNA = df[contains_ssRNA]

print('The average outer capsid radius for dsDNA viruses is %0.2f units' %(filter_for_dsDNA['Outer Radius'].mean()))
print('The average outer capsid radius for ssRNA viruses is %0.2f units' %(filter_for_ssRNA['Outer Radius'].mean()))

The average outer capsid radius for dsDNA viruses is 293.46 units
The average outer capsid radius for ssRNA viruses is 174.35 units

## Part D
Assuming that viral capsids are roughly spherical, their surface area can be calculated by the formula ùê¥ =
4ùúãùëÖ^2 where ùëÖ is the outer radius. Calculate this term for all virus records and add it to the DataFrame as
a new column. How is it correlated with the Outside SASA field?

In [43]:
# Apply a function to a column and add it as a new column
# Find correlation between outside SASA field and new column

df['Surface Area'] = df['Outer Radius'].map(lambda x: 4*np.pi*(x**2))

print('The correlation between the estimated viral capsid Surface Area and the Outside SASA'\
      ' is %0.3f units.' %(df['Surface Area'].corr(df['Outside SASA'])))

The correlation between the estimated viral capsid Surface Area and the Outside SASA is 0.424 units.

# Exercise 2

## Part A
Download the PDF file cancer_facts.pdf and extract the table ‚ÄúEstimated Number of New Cases for
Selected Cancers by State, US, 2014‚Äù into a CSV file. Use an online PDF-to-Excel tool such as:
https://www.coolutils.com/online/PDF-to-CSV.

'07_Lesson/Files/cancer_facts.xlsx'

## Part B
Which state has the highest proportion of new Leukemia cases as a fraction of all cancer types?

In [51]:
df = pd.read_excel(os.path.join(DIR, '07_Lesson/Files/cancer_facts.xlsx'), skiprows=366, header=0, usecols='C:O')
display(df)

,Unnamed: 2,Unnamed: 3,Both Sexes,Male,Unnamed: 6,Female,Unnamed: 8,Both Sexes.1,Male.1,Unnamed: 11,Female.1,Unnamed: 13,Unnamed: 14
0,NaN,NaN,"1,665,540","855,220",NaN,"810,320",NaN,"585,720","310,010",NaN,"275,710",NaN,NaN
1,NaN,NaN,"42,440","30,220",NaN,"12,220",NaN,"8,390","5,730",NaN,"2,660",NaN,NaN
2,NaN,NaN,"13,590","9,720",NaN,"3,870",NaN,"2,150","1,450",NaN,700,NaN,NaN
3,NaN,NaN,"11,920","7,150",NaN,"4,770",NaN,"2,070","1,130",NaN,940,NaN,NaN
4,NaN,NaN,"14,410","11,550",NaN,"2,860",NaN,"2,540","1,900",NaN,640,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
349,NaN,215.3,149.7,22.6,19.6,13.9,63.5,39.2,8.2,5.1,NaN,12.5,9.6
350,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
351,"US Mortality Data, National Center for Health ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
352,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"American Cancer Society, Surveillance Research...",NaN,NaN,NaN,NaN
353,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Part C
What is the percentage of new cancer cases not classified as one of the provided types per state?

## Part D
Find the two states that are most similar to each other with respect to the profile of new cancer types.

Compare the fraction of cancer types, not the absolute values.