# Lesson 07 Lab Exercises

In [4]:
import os
import numpy as np
import pandas as pd
from IPython.display import display
from openpyxl import load_workbook
# DIR = '/Users/fernandojuarez/Documents/GitHub/Quantitative_Biological_Research_Python_course/'
DIR = '/Users/fernandojuarez/Documents/GitHub/Quantitative_Biological_Research_Python_course/QBRP/'

# Exercise 1

Load viperdb.csv with Pandas.

Call simple Pandas functions to achieve the following tasks:

In [177]:
df = pd.read_csv(os.path.join(DIR, '07_Lesson/Files/viperdb.csv'))

In [44]:
# display(df)
# display(df.describe())

## Part A
Find the virus record with the largest outer capsid radius.

In [178]:
# print('The virus with the largest outer capsid radius of %d is %s' %(df['Outer Radius'].max(), df['Title'][df['Outer Radius'].idxmax()]))
print(f"The virus with the largest outer capsid radius of {df['Outer Radius'].max()} is {df['Title'][df['Outer Radius'].idxmax()]}.")

The virus with the largest outer capsid radius of 929 is PBCV-1 virus capsid, quasi-atomic model.

## Part B
Calculate the correlation between inner and outer capsid radius.

In [11]:
print(f"The correlation between the inner and outer capsid radius is {df['Inner Radius'].corr(df['Outer Radius'])}")
print('The correlation between the inner and outer capsid radius is %0.3f' %(df['Inner Radius'].corr(df['Outer Radius'])))

The correlation between the inner and outer capsid radius is 0.9353034053307225
The correlation between the inner and outer capsid radius is 0.935

## Part C
Which viruses are larger? dsDNA or ssRNA?

In [ ]:
contains_dsDNA = df['Genome'].str.contains('dsDNA', na=False)
contains_ssRNA = df['Genome'].str.contains('ssRNA', na=False)

filter_for_dsDNA = df[contains_dsDNA]
filter_for_ssRNA = df[contains_ssRNA]

print('The average outer capsid radius for dsDNA viruses is %0.2f units' %(filter_for_dsDNA['Outer Radius'].mean()))
print('The average outer capsid radius for ssRNA viruses is %0.2f units' %(filter_for_ssRNA['Outer Radius'].mean()))

The average outer capsid radius for dsDNA viruses is 293.46 units
The average outer capsid radius for ssRNA viruses is 174.35 units

## Part D
Assuming that viral capsids are roughly spherical, their surface area can be calculated by the formula ùê¥ =
4ùúãùëÖ^2 where ùëÖ is the outer radius. Calculate this term for all virus records and add it to the DataFrame as
a new column. How is it correlated with the Outside SASA field?

In [43]:
# Apply a function to a column and add it as a new column
# Find correlation between outside SASA field and new column

df['Surface Area'] = df['Outer Radius'].map(lambda x: 4*np.pi*(x**2))

print('The correlation between the estimated viral capsid Surface Area and the Outside SASA'\
      ' is %0.3f units.' %(df['Surface Area'].corr(df['Outside SASA'])))

The correlation between the estimated viral capsid Surface Area and the Outside SASA is 0.424 units.

# Exercise 2

## Part A
Download the PDF file cancer_facts.pdf and extract the table ‚ÄúEstimated Number of New Cases for
Selected Cancers by State, US, 2014‚Äù into a CSV file. Use an online PDF-to-Excel tool such as:
https://www.coolutils.com/online/PDF-to-CSV.

'07_Lesson/Files/cancer_facts.xlsx'

## Part B
Which state has the highest proportion of new Leukemia cases as a fraction of all cancer types?

In [173]:

def parse_table(header_start, colrange, row_start, row_end):
    return pd.read_excel(os.path.join(DIR, '07_Lesson/Files/cancer_facts.xlsx'),\
                          skiprows=header_start, thousands= ',', usecols=colrange, na_filter= False, nrows=(row_end-row_start))

# header_start needs to be +3 from row itentified as header or +4 from the row just before the desired header

# need another function for cleaning up

In [272]:

df = parse_table(445,'B,D:N', 445, 497)

# Rename columns.
df.columns = ['State','All Sites', 'Female Breast', 'Uterine Cervix', 'Colon & Rectum', 'Uterine Corpus', 'Leukemia',\
               'Lung & Bronchus', 'Melanoma of the Skin', 'Non-Hodgkins Lymphoma', 'Prostate', 'Urinary Bladder']

## This was all done while fiddling with dtype assignment. Ultimately all fixed with thousands arg set to ','
# s_numeric = pd.to_numeric(df['Leukemia'],errors='coerce')
# display(df['Female Breast'].dtype)
# display(df['Leukemia'])
# print(f"\nConverted dtype: {s_numeric.dtype}")
# display(s_numeric)

# divide leukemia col by all sites col then _.idmax() and .max() it to display the state
print('%s has the highest proportionn of new Leukemia cases (%0.2f) to total cancer types.'\
       %(df['State'][(df['Leukemia']/df['All Sites']).idxmax()], (df['Leukemia']/df['All Sites']).max()))

Colorado has the highest proportionn of new Leukemia cases (0.04) to total cancer types.

In [275]:
display(df)

,State,All Sites,Female Breast,Uterine Cervix,Colon & Rectum,Uterine Corpus,Leukemia,Lung & Bronchus,Melanoma of the Skin,Non-Hodgkins Lymphoma,Prostate,Urinary Bladder,Unclassified [%]
0,Alabama,26770,3660,210,2350,650,690,4160,1320,990,3760,990,29.85
1,Alaska,3750,450,50,280,100,100,430,90,140,530,150,38.13
2,Arizona,32830,4520,210,2560,910,950,4280,1430,1320,4390,1490,32.81
3,Arkansas,16520,2050,140,1500,400,480,2660,490,660,2240,640,31.84
4,California,171730,26130,1550,13930,5650,5650,18780,8440,7770,23010,7210,31.22
5,Colorado,23810,3780,160,1720,750,870,2540,1400,1060,3680,1040,28.60
6,Connecticut,22070,3160,120,1650,790,610,2730,1090,920,3120,1170,30.40
7,Delaware,5320,760,50,420,180,150,790,290,220,800,260,26.32
8,Dist. of Columbia,2840,430,50,250,100,60,320,80,100,510,80,30.28
9,Florida,114560,15480,960,10230,3410,3810,17960,5320,5050,16590,5800,26.14
10,Georgia,47390,7010,420,3940,1310,1370,6540,2180,1820,7600,1710,28.47
11,Hawaii,6640,1090,60,700,270,220,890,410,300,810,250,24.70
12,Idaho,7990,1100,50,610,230,290,960,450,360,1320,390,27.91
13,Illinois,66840,9230,470,5530,2290,2180,9100,2440,2890,8820,3090,31.12
14,Indiana,35560,4590,260,3020,1070,1060,5540,1550,1480,4390,1600,30.93
15,Iowa,17630,2320,100,1580,610,640,2330,980,800,2340,830,28.93
16,Kansas,14630,2090,100,1120,470,490,1900,780,650,1980,620,30.28
17,Kentucky,25770,3370,200,2170,720,790,4690,1540,1070,3280,1100,26.54
18,Louisiana,24300,3160,200,2270,540,720,3470,750,960,3720,940,31.15
19,Maine,9270,1220,50,700,340,310,1400,440,380,1160,540,29.45
20,Maryland,30680,4570,230,2500,1020,800,3990,1400,1210,5000,1280,28.29
21,Massachusetts,37940,5560,200,2800,1320,1140,4930,1800,1600,5600,2030,28.89
22,Michigan,58610,7660,340,4570,2010,1830,8090,2830,2500,8740,2930,29.19
23,Minnesota,29340,3820,130,2240,950,1050,3070,1030,1240,3870,1220,36.54
24,Mississippi,15740,2130,140,1510,360,410,2420,560,560,2210,540,31.13
25,Missouri,33890,4610,240,2970,1090,1040,5370,1510,1430,4010,1530,29.77
26,Montana,5850,860,50,500,180,200,760,290,260,1010,300,24.62
27,Nebraska,9550,1360,60,880,320,330,1220,460,440,1250,430,29.32
28,Nevada,14450,1880,120,1290,350,440,2040,470,550,1890,680,32.80
29,New Hampshire,8450,1150,50,600,300,250,1110,400,350,1160,460,31.01
30,New Jersey,51130,7290,380,4280,1820,1560,6130,2590,2250,7320,2510,29.34
31,New Mexico,10210,1450,80,830,300,370,1060,470,400,1400,400,33.79
32,New York,107200,15230,850,8590,4040,3460,13720,4240,4720,15440,5330,29.46
33,North Carolina,52550,7580,380,4230,1570,1550,7850,2540,2110,7580,2170,28.53
34,North Dakota,3730,510,50,350,110,130,400,160,160,460,180,32.71
35,Ohio,67000,8710,400,5450,2280,1890,9760,3170,2860,8690,3110,30.87
36,Oklahoma,19830,2700,160,1760,530,660,3320,650,850,2570,830,29.25
37,Oregon,22530,3320,130,1540,720,640,2950,1440,960,3200,1080,29.07
38,Pennsylvania,79920,10660,500,6790,2840,2420,10290,3820,3420,10930,4070,30.26
39,Rhode Island,6370,870,50,500,230,180,870,260,250,840,340,31.08
40,South Carolina,26390,3750,210,2200,750,790,4130,1350,1030,4000,1100,26.83
41,South Dakota,4490,600,50,410,150,160,540,200,200,590,210,30.73
42,Tennessee,36570,4840,290,3030,930,1040,5980,1910,1470,4670,1510,29.81
43,Texas,115730,16080,1140,9760,3130,4190,14890,3420,5030,15900,4190,32.84
44,Utah,10780,1440,60,650,350,390,650,770,490,1780,420,35.06
45,Vermont,4130,560,50,290,140,110,550,220,160,580,210,30.51
46,Virginia,40970,6170,290,3280,1300,1080,5580,2130,1640,6330,1700,28.00
47,Washington,38230,5620,230,2670,1160,1250,4630,2410,1710,5380,1730,29.92
48,West Virginia,11700,1350,90,1060,380,330,2090,540,480,1450,570,28.72
49,Wisconsin,32480,4330,190,2520,1140,1150,4020,1440,1410,4630,1580,31.00
50,Wyoming,2890,420,50,240,90,90,330,150,120,490,140,26.64
51,United States,1665540,232670,12360,136830,52630,52380,224210,76100,70800,233000,74690,30.01

## Part C
What is the percentage of new cancer cases not classified as one of the provided types per state?

In [273]:
# add all provided types in US and subtract from total?

# display(df.tail(1))
# print(pd.to_numeric(df.iloc[-1, 2:]).sum())
# print(df['All Sites'][51])
# print(df['All Sites'][51]-pd.to_numeric(df.iloc[-1, 2:]).sum())

# print('%0.2f %/ of the new cancer cases in the United States are not classified
      
# OH THIS IS COMPLETELY DIFFERENT
# df.iloc[:50, 2:].sum(axis=0)
# df['Outer Radius'].map(lambda x: 4*np.pi*(x**2))

# Replacing symbol values with upper value of range represented by symbol
df['Uterine Cervix'] = pd.to_numeric(df['Uterine Cervix'].map(lambda x: 50 if x=='‚Ä†' else x))

In [274]:
# Percentage of new cases not classified by provided types per state
df['Unclassified [%]'] = ((df['All Sites'] - df.iloc[:, 2:].sum(axis=1))/df['All Sites']*100).round(2)

display(df[['State', 'Unclassified [%]']])

                State  Unclassified [%]
0             Alabama             29.85
1              Alaska             38.13
2             Arizona             32.81
3            Arkansas             31.84
4          California             31.22
5            Colorado             28.60
6         Connecticut             30.40
7            Delaware             26.32
8   Dist. of Columbia             30.28
9             Florida             26.14
10            Georgia             28.47
11             Hawaii             24.70
12              Idaho             27.91
13           Illinois             31.12
14            Indiana             30.93
15               Iowa             28.93
16             Kansas             30.28
17           Kentucky             26.54
18          Louisiana             31.15
19              Maine             29.45
20           Maryland             28.29
21      Massachusetts             28.89
22           Michigan             29.19
23          Minnesota             36.54
24        Mississippi             31.13
25           Missouri             29.77
26            Montana             24.62
27           Nebraska             29.32
28             Nevada             32.80
29      New Hampshire             31.01
30         New Jersey             29.34
31         New Mexico             33.79
32           New York             29.46
33     North Carolina             28.53
34       North Dakota             32.71
35               Ohio             30.87
36           Oklahoma             29.25
37             Oregon             29.07
38       Pennsylvania             30.26
39       Rhode Island             31.08
40     South Carolina             26.83
41       South Dakota             30.73
42          Tennessee             29.81
43              Texas             32.84
44               Utah             35.06
45            Vermont             30.51
46           Virginia             28.00
47         Washington             29.92
48      West Virginia             28.72
49          Wisconsin             31.00
50            Wyoming             26.64
51      United States             30.01

## Part D
Find the two states that are most similar to each other with respect to the profile of new cancer types.

Compare the fraction of cancer types, not the absolute values.